doctype html
html
  head
    title Login
  body
    h1 Login
    if message
      p= message
    form(action="/auth/login" method="post")
      div
        label(for="username") Username:
        input(type="text" name="username" id="username")
      div
        label(for="password") Password:
        input(type="password" name="password" id="password")
      div
        button(type="submit") Login 